.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &--germany,
  &--england {
    display: none;
  }
}

.card__item {
  width: 350px;
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: $bg-card;

  @media (max-width: $tablet-width-690) {
    width: 330px;
  }

  @media (max-width: $tablet-width-510) {
    width: 240px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.card__link {
  @include link-basic;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__img-box {
  margin: 0;
}

.card__img {
  margin-bottom: 20px;

  @media (max-width: $tablet-width-510) {
    margin-bottom: 15px;
  }
}

.card__img-caption {
  margin-bottom: 10px;
  color: $figcaption;

  @media (max-width: $tablet-width-510) {
    font-size: 16px;
  }
}

.card__title {
  @include title-basic;

  margin-bottom: 8px;
  font-size: 30px;

  @media (max-width: $tablet-width-510) {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.card__description {
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $tablet-width-510) {
    font-size: 16px;
  }
}

.card__price {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: $btn-hover;

  @media (max-width: $tablet-width-510) {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.card__button {
  @include link-basic;

  padding: 20px 60px;
  color: $btn-hover;
  background-color: $bg-card;
  border: 1px solid $btn-hover;

  @media (hover: hover) {
    &:hover {
      color: $main-bg;
      background-color: $btn-hover;
    }

    &:focus-visible {
      border: 1px solid $btn-hover;
      background-color: $btn-focus;
      outline: none;
    }

    &:active {
      background-color: $btn-active;
    }
  }

  @media (max-width: $tablet-width-510) {
    padding: 15px 15px;
  }
}
