.button-link {
  min-width: 200px;
  min-height: 40px;
  display: inline-grid;
  place-items: center;
  text-align: center;
  font-family: $primary-font;
  font-size: 16px;
  background-color: $main-bg;


  text-transform: uppercase;

  text-decoration: none;
}
