.footer {
  background-color: $bg-card;
}

.footer__container {
  outline: 1px solid red;

  margin-bottom: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;

  @media (max-width: $tablet-width-690) {
    flex-wrap: wrap;
  }
}

.footer__logo-box {
  outline: 2px solid tomato;

  @media (max-width: $tablet-width-690) {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo-link {
  margin-bottom: 35px;

  @media (max-width: $tablet-width-690) {
    margin-bottom: 17px;
  }
}

.footer__phone-link {
  @include link-basic;

  margin-bottom: 8px;
}

.footer__phone-text {
  margin: 0;
  color: $figcaption;
}

.footer__nav-box {
  outline: 2px solid violet;

  margin-left: 115px;
  display: flex;
  gap: 20px 60px;

  @media (max-width: $tablet-width-690) {
    margin-left: 0;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 6px;
}

.footer__nav-link {
  @include link-basic;

  line-height: 27px;
  color: $figcaption;

  &--accent {
    font-size: 20px;
    color: $main-dark;
  }
}

.footer__social-wrapper {
  outline: 1px solid blue;

  margin-left: auto;

  @media (max-width: $tablet-width-690) {
    margin-left: 80px;
  }
}

.footer__social {
  margin-bottom: 10px;
}

.footer__copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: $figcaption;

  &--second {
    margin-top: 6px;
  }
}
