$text-description: #86928b;

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.hero__wrapper {
  margin-top: 145px;

  @media (max-width: $tablet-width-690) {
    margin-top: 35px;
  }
}

.hero__title {
  @include title-basic;

  margin-bottom: 20px;
  font-size: 60px;
  line-height: 66px;

  @media (max-width: $tablet-width-690) {
    font-size: 40px;
    line-height: 40px;
  }
}

.hero__title-color {
  color: $btn-hover;
}

.hero__description {
  margin: 0;
  margin-bottom: 60px;
  color: $text-description;

  @media (max-width: $tablet-width-690) {
    margin-bottom: 40px;
  }
}

.hero__link {
  @include link-basic;

  padding: 20px 60px;
  width: 227px;
  color: $btn-hover;
  border: 1px solid $btn-hover;

  &:hover {
    color: $main-light;
    background-color: $btn-hover;
  }

  &:focus-visible {
    background-color: $btn-focus;
    outline: none;
  }
  &:active {
    color: $main-light;
    background-color: $btn-active;
  }
}
