.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 27px;
  color: $main-dark;
  background-color: $main-bg;
}

.page__main {
  flex-grow: 1;
}
