.social {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.social__link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    // background-color: $main-dark;
  }
}

.social__link--fb::before {
  background-image: url("../images/facebook.svg");
  // mask-image: url("../icons/sprite.svg#facebook");
}

.social__link--youtube::before {
  background-image: url("../images/youtube.svg");
  // mask-image: url("../../icons/stack.svg#youtube-icon");
}

.social__link--instagram::before {
  background-image: url("../images/instagram.svg");
  // mask-image: url("../../icons/stack.svg#telegram-icon");
}

.social__link:hover::before,
:focus-visible::before {
  background-color: $btn-hover;
}

.social__link:active::before {
}
