.social {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  outline: none;

  &:focus-visible {
    border-radius: 2px;
    background-color: $btn-focus;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $main-dark;
  }
}

.social__link--fb::before {
  mask-image: url("../icons/sprite.svg#facebook");
}

.social__link--instagram::before {
  mask-image: url("../icons/sprite.svg#instagram");
}

.social__link--youtube::before {
  mask-image: url("../icons/sprite.svg#youtube");
}

.social__link:hover::before {
  background-color: $btn-hover;
}

.social__link:focus-visible::before {
  background-color: $btn-hover;
}

.social__link:active::before {
  background-color: $btn-active;
}
