.team__wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: $tablet-width-690) {
    flex-direction: column;
    gap: 40px;
  }
}

.team__box {
  margin-top: 124px;
  width: 635px;

  @media (max-width: $tablet-width-690) {
    margin-top: 0;
  }
}

.team__title {
  @include title-basic;

  margin-bottom: 20px;

  @media (max-width: $tablet-width-690) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 33px;
  }
}

.team__description {
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $tablet-width-690) {
    margin-bottom: 30px;
  }
}

.team__avatar-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}
