$tablet-width-690: 1440px;
$tablet-width-510: 768px;
$mobile-width: 576px;

$main-dark: #2c2d35;
$main-light: #ffffff;
$main-bg: #f4f6f5;
$bg-card: #e1ede6;
$btn-promo: #eedb6d;
$btn-hover: #598d66;
$btn-focus: #d4e8d9;
$btn-active: #376b44;
$figcaption: #86928b;
